dtd/nvcx_1_1.dtd

<!ELEMENT nvcx (SERIES*, BOOK*)>
    <!ATTLIST nvcx 
        version NMTOKEN #FIXED "1.1"
        >
    <!ELEMENT SERIES (Title?, Desc?, BOOK*)>
        <!ATTLIST SERIES 
            id ID #REQUIRED 
            >
        <!ELEMENT Title (#PCDATA)>
        <!ELEMENT Desc (p*)>
            <!ELEMENT p (#PCDATA)>     
	        <!ELEMENT BOOK (Title?, Desc?, Path)>
	        <!ATTLIST BOOK 
	            id ID #REQUIRED 
	            >
	        <!ELEMENT Path (#PCDATA)>
